body {
    font-family: 'Open Sans', sans-serif;
    color: #575756;
}

.fa-arrow-left {
    font-size: 50px;
}

footer {
    height: 80px;
}

.boton-left {
    height: 100%;
    color: #ffffff;
    background-color: #ededed;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-left:hover,
.boton-left:focus,
.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    color: #ffffff;
    background-color: #ededed;
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    background-image: none;
}

.boton-left.disabled,
.boton-left[disabled],
fieldset[disabled] .boton-left,
.boton-left.disabled:hover,
.boton-left[disabled]:hover,
fieldset[disabled] .boton-left:hover,
.boton-left.disabled:focus,
.boton-left[disabled]:focus,
fieldset[disabled] .boton-left:focus,
.boton-left.disabled:active,
.boton-left[disabled]:active,
fieldset[disabled] .boton-left:active,
.boton-left.disabled.active,
.boton-left[disabled].active,
fieldset[disabled] .boton-left.active {
    background-color: #ededed;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-left .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}

.navbar-text {
    font-family: 'Days One', sans-serif;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.fa-arrow-right {
    font-size: 50px;
    color: #f8f9fa;
}

.boton-right {
    height: 100%;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-right:hover,
.boton-right:focus,
.boton-right:active,
.boton-right.active,
.open .dropdown-toggle.boton-right {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-right:active,
.boton-right.active,
.open .dropdown-toggle.boton-right {
    background-image: none;
}

.boton-right.disabled,
.boton-right[disabled],
fieldset[disabled] .boton-right,
.boton-right.disabled:hover,
.boton-right[disabled]:hover,
fieldset[disabled] .boton-right:hover,
.boton-right.disabled:focus,
.boton-right[disabled]:focus,
fieldset[disabled] .boton-right:focus,
.boton-right.disabled:active,
.boton-right[disabled]:active,
fieldset[disabled] .boton-right:active,
.boton-right.disabled.active,
.boton-right[disabled].active,
fieldset[disabled] .boton-right.active {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-right .badge {
    background-color: #f8f9fa;
}

.boton-next {
    height: 100%;
    color: #ffffff;
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-next:hover,
.boton-next:focus,
.boton-next:active,
.boton-next.active,
.open .dropdown-toggle.boton-next {
    color: #ffffff;
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-next:active,
.boton-next.active,
.open .dropdown-toggle.boton-next {
    background-image: none;
}

.boton-next.disabled,
.boton-next[disabled],
fieldset[disabled] .boton-next,
.boton-next.disabled:hover,
.boton-next[disabled]:hover,
fieldset[disabled] .boton-next:hover,
.boton-next.disabled:focus,
.boton-next[disabled]:focus,
fieldset[disabled] .boton-next:focus,
.boton-next.disabled:active,
.boton-next[disabled]:active,
fieldset[disabled] .boton-next:active,
.boton-next.disabled.active,
.boton-next[disabled].active,
fieldset[disabled] .boton-next.active {
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-next .badge {
    color: #f8f9fa;
    background-color: #f8f9fa;
}

#botonLogout {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 190px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
}

#botonLogout:hover {
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}

.fa-sign-out-alt {
    margin-right: 5px;
}

#save {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
}

#save:hover {
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}

.botonBuscar {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
}

.botonBuscar:hover {
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}

#botonResidentes {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
}

#botonResidentes:hover {
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}

#botonVisitantes {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
}

#botonVisitantes:hover {
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}

.cajaUno {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}

.cajaDos {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}

.cajaTres {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}

.cajaCuatro {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px;
}

#name {
    width: 100%;
    height: 30px;
    color: #575756;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    margin-bottom: 15px;
    padding-left: 10px;
}

#mail {
    width: 100%;
    height: 30px;
    color: #575756;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding-left: 10px;
}

.fa-user-plus {
    font-size: 20px;
    color: #8EC5FC;
    margin-right: 8px;
}

.tituloCajaUno {
    font-size: 18px;
    font-weight: 600;
}

.fa-eye {
    font-size: 20px;
    color: #8EC5FC;
    margin-right: 8px;
}

.fa-list-ul {
    font-size: 20px;
    color: #8EC5FC;
    margin-right: 8px;
}

#Residente {
    width: 100%;
    height: 30px;
    color: #575756;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding-left: 10px;
}