canvas {
    display: block;
    margin: 0 auto;
    /*margin: calc(50vh - 150px) auto 0;*/
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px #ccc;
    cursor:pointer;
}