canvas {
    display: block;
    margin: 0 auto;
    /*margin: calc(50vh - 150px) auto 0;*/
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px #ccc;
    cursor: pointer;
    margin-top: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #706f6f;
}

.fa-check {
    font-size: 50px;
}

.fa-arrow-left {
    font-size: 50px;
}

.boton-check {
    height: 100%;
    color: #ffffff;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-check:hover,
.boton-check:focus,
.boton-check:active,
.boton-check.active,
.open .dropdown-toggle.boton-check {
    color: #ffffff;
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.boton-check:active,
.boton-check.active,
.open .dropdown-toggle.boton-check {
    background-image: none;
}

.boton-check.disabled,
.boton-check[disabled],
fieldset[disabled] .boton-check,
.boton-check.disabled:hover,
.boton-check[disabled]:hover,
fieldset[disabled] .boton-check:hover,
.boton-check.disabled:focus,
.boton-check[disabled]:focus,
fieldset[disabled] .boton-check:focus,
.boton-check.disabled:active,
.boton-check[disabled]:active,
fieldset[disabled] .boton-check:active,
.boton-check.disabled.active,
.boton-check[disabled].active,
fieldset[disabled] .boton-check.active {
    background-color: #8EC5FC;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-check .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}

footer {
    height: 80px;
}

.boton-left {
    height: 100%;
    color: #f8f9fa;
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-left:hover,
.boton-left:focus,
.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    color: #f8f9fa;
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    background-image: none;
}

.boton-left.disabled,
.boton-left[disabled],
fieldset[disabled] .boton-left,
.boton-left.disabled:hover,
.boton-left[disabled]:hover,
fieldset[disabled] .boton-left:hover,
.boton-left.disabled:focus,
.boton-left[disabled]:focus,
fieldset[disabled] .boton-left:focus,
.boton-left.disabled:active,
.boton-left[disabled]:active,
fieldset[disabled] .boton-left:active,
.boton-left.disabled.active,
.boton-left[disabled].active,
fieldset[disabled] .boton-left.active {
    background-color: #f8f9fa;
    border: 0px solid #f8f9fa;
    border-radius: 5px;
}

.boton-left .badge {
    color: #f8f9fa;
    background-color: #f8f9fa;
}

.btn-primary {
    height: 60px;
    width: 100%;
    color: #ffffff;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
    border: 0px solid #8EC5FC;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #8EC5FC;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.btn-primary .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}

.navbar-text {
    font-family: 'Days One', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h3 {
    padding-top: 10px;
}

h4 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}