body {
    font-family: 'Open Sans', sans-serif;
}

.fa-check {
    font-size: 50px;
}

.fa-arrow-left {
    font-size: 50px;
}

.boton-check {
    height: 100%;
    color: #ffffff;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-check:hover,
.boton-check:focus,
.boton-check:active,
.boton-check.active,
.open .dropdown-toggle.boton-check {
    color: #ffffff;
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.boton-check:active,
.boton-check.active,
.open .dropdown-toggle.boton-check {
    background-image: none;
}

.boton-check.disabled,
.boton-check[disabled],
fieldset[disabled] .boton-check,
.boton-check.disabled:hover,
.boton-check[disabled]:hover,
fieldset[disabled] .boton-check:hover,
.boton-check.disabled:focus,
.boton-check[disabled]:focus,
fieldset[disabled] .boton-check:focus,
.boton-check.disabled:active,
.boton-check[disabled]:active,
fieldset[disabled] .boton-check:active,
.boton-check.disabled.active,
.boton-check[disabled].active,
fieldset[disabled] .boton-check.active {
    background-color: #8EC5FC;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-check .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}

footer {
    height: 80px;
}

.boton-left {
    height: 100%;
    color: #ffffff;
    background-color: #ededed;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-left:hover,
.boton-left:focus,
.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    color: #ffffff;
    background-color: #ededed;
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    background-image: none;
}

.boton-left.disabled,
.boton-left[disabled],
fieldset[disabled] .boton-left,
.boton-left.disabled:hover,
.boton-left[disabled]:hover,
fieldset[disabled] .boton-left:hover,
.boton-left.disabled:focus,
.boton-left[disabled]:focus,
fieldset[disabled] .boton-left:focus,
.boton-left.disabled:active,
.boton-left[disabled]:active,
fieldset[disabled] .boton-left:active,
.boton-left.disabled.active,
.boton-left[disabled].active,
fieldset[disabled] .boton-left.active {
    background-color: #ededed;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-left .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}