body {
    font-family: 'Open Sans', sans-serif;
}

.imagenFondo {
    background-size: cover;
    background-position: center;
    height: 100vh;
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    animation-name: example;
    animation-duration: 5s;
}

.logo {
    margin-top: 250px;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

@-webkit-keyframes example {
    from {
        background-color: #343d58;
    }
    to {
        background-color: #6175E8;
    }
}

@keyframes example {
    from {
        background-color: #343d58;
    }
    to {
        background-color: #6175E8;
    }
}