body {
    font-family: 'Open Sans', sans-serif;
}

.textoIngreso {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 18px;
    color: #575756;
    margin-bottom: 5px;
}

.custom-control-label:before {
    background-color: #ededed;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #8EC5FC;
}

.placeholder {
    font-size: 18px;
    color: #706f6f;
}

.asterisco {
    color: #8EC5FC;
    font-weight: 400;
}

.navbar-text {
    font-family: 'Days One', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.fa-arrow-right {
    font-size: 50px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 0px;
}

.custom-control-label {
    font-size: 18px;
    color: #706f6f;
}

.visitaMotivo {
    margin-top: 45px;
}

.checkboxMotivo {
    margin-top: 10px;
}

.boton-next {
    height: 100%;
    color: #ffffff;
    background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%);
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-next:hover,
.boton-next:focus,
.boton-next:active,
.boton-next.active,
.open .dropdown-toggle.boton-next {
    color: #ffffff;
    background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
    border: 0px solid #E0C3FC;
    border-radius: 5px;
}

.boton-next:active,
.boton-next.active,
.open .dropdown-toggle.boton-next {
    background-image: none;
}

.boton-next.disabled,
.boton-next[disabled],
fieldset[disabled] .boton-next,
.boton-next.disabled:hover,
.boton-next[disabled]:hover,
fieldset[disabled] .boton-next:hover,
.boton-next.disabled:focus,
.boton-next[disabled]:focus,
fieldset[disabled] .boton-next:focus,
.boton-next.disabled:active,
.boton-next[disabled]:active,
fieldset[disabled] .boton-next:active,
.boton-next.disabled.active,
.boton-next[disabled].active,
fieldset[disabled] .boton-next.active {
    background-color: #8EC5FC;
    border: 0px solid #8EC5FC;
    border-radius: 5px;
}

.boton-next .badge {
    color: #8EC5FC;
    background-color: #ffffff;
}

footer {
    height: 80px;
}

.fa-arrow-left {
    font-size: 50px;
    color: #f8f9fa;
}

.boton-left {
    height: 100%;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-left:hover,
.boton-left:focus,
.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-left:active,
.boton-left.active,
.open .dropdown-toggle.boton-left {
    background-image: none;
}

.boton-left.disabled,
.boton-left[disabled],
fieldset[disabled] .boton-left,
.boton-left.disabled:hover,
.boton-left[disabled]:hover,
fieldset[disabled] .boton-left:hover,
.boton-left.disabled:focus,
.boton-left[disabled]:focus,
fieldset[disabled] .boton-left:focus,
.boton-left.disabled:active,
.boton-left[disabled]:active,
fieldset[disabled] .boton-left:active,
.boton-left.disabled.active,
.boton-left[disabled].active,
fieldset[disabled] .boton-left.active {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.boton-left .badge {
    background-color: #f8f9fa;
}